* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Montserrat', sans-serif;
}

body {
    background-color: #f4f4f4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

h1 {
    margin: 20px;
}

input {
    margin: 10px;
    height: 30px;
}

input::placeholder {
    text-align: center;
}

#cadastrar {
    height: 30px;
    width: 100px;
    font-size:15px;
    background-color: #fff;
    border: 0;
    margin-bottom: 20px;
    transition: 0.5s;
}

button:hover, #cadastrar:hover {
    background-color: black;
    color: #fff;
    width: 120px;
}

table {
    display: flex;
    background-color: #fff;
    border: 1px #555555 solid;
    border-radius: 20px;
    width: 80%;
    justify-content: center;
    align-items: center;
    flex-flow: column wrap;
}

th {
    width: 250px;
}

tbody {
    display: flex;
    width: 90%;
    align-items: center;
    justify-content: center;
    flex-flow: column wrap;
}

tr {
    display: flex;
    flex-wrap: wrap;
    height: 100%;
}

td {
    width: 250px;
    height: 50px;
    text-align: center;
    align-self: center;
    text-transform: uppercase;
    flex-wrap: wrap;
}

td button {
    align-self: center;
    height: 30px;
    width: 100px;
    font-size:15px;
    background-color: #fff;
    border: 0;
    transition: 0.5s;
}